<html>
  <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
      integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <app-home></app-home>
    <div class="container">
      <h1>HOME</h1><br/><br/>
      <a routerLink="/search">Search Todo</a><br/><br/>
    </div>
    <div [@openClose]="animationState?'open':'closed'">
    </div>
    <button (click)="toggleAnimations()">Begin Animations</button>
    <form class="container" [formGroup]="loginForm" (ngSubmit)="check()">
      <div class="form-group">
        <h1>Login</h1>
        <p id="usr" *ngIf="!er1">User doesnt exists</p>
        <label>Email address</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Enter email">
        <div *ngIf="hasError('email')" style="color: red;">
          <p *ngIf="get('email').errors.required" style="color: red;">E-mail cannot be empty</p>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="pass" class="form-control" placeholder="Enter Password">
        <div *ngIf="hasError('pass')" style="color: red;">
          <p *ngIf="get('pass').errors.required" style="color: red;">Password cannot be empty</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
    </form>
  </body>

