button{
  text-align: center;
  color:white;
  background-color:black;
  border: none;
  font-size: medium;
}
table{
  width: 100%;
  border: 2px solid blue;
  margin-top: 20px;
  border-collapse: collapse;
}
td{
  padding: 10px;
}
